.TekstMid{
	padding: 20px;
	height: 30%;
	font-family: 'Heebo', sans-serif;
	text-align: center;
	font-size: 50px;
}
.curved-div {
  position: relative;
  background: #6a0dad;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.curved-div svg {
  display: block;
}
.curved-div.upper {
  background: #fff;
}
.curved-div h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin-top:0rem;
}
.curved-div p {
  font-size: 1rem;
  margin:0 5rem 0rem 5rem;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}
.NavBar{
  height: 100%; 
  width: 0; /*Ndrryshohet permes JS*/
  position: fixed; 
  z-index: 1; /*Forcon karakteret te rrin mbi content tjeter*/
  top: 0; 
  left: 0;
  background-color: #6a0dad; 
  overflow-x: hidden; /*Ndalon scroll*/
  padding-top: 60px; 
  transition: 0.5s;/* Koha per te bere tranzicionin*/
}
.NavBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #1a001a;
  display: block;
  transition: 0.3s;
}
.NavBar a:hover{
	color: #f1f1f1;
}
.NavBar .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left .5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .NavBar {padding-top: 15px;}
  .NavBar a {font-size: 18px;}
}
.SideNavOpen{
	margin-left: 1%;
	position: fixed;
}
.ButonSideNav{
  background-color: #6a0dad;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.ContainerContents{
	border:3px solid black;
	display: flex-column;
}
.KutijaFlex1{
	margin-top: 5%;
	margin-left: 15%;
	margin-right:20%;
	width: 80%;
	height: 25rem;
	border:3px solid purple;
	border-radius: 35px;
	padding: 25px;
	display: flex;
	flex: wrap-reverse;
	flex-direction: row;
}
.Loja1{
	margin-left:15px ;
	margin-right:10px;
	border:4px solid black;
	padding: 10px;
	width: 30%;
}
.Loja2{
	margin-left:10px ;
	margin-right:10px;
	border:4px solid black;
	padding: 10px;
	width: 30%;
}
.Loja3{
	margin-left:10px ;
	margin-right:15px;
	border:4px solid black;
	padding: 10px;
	width: 30%;
}
.KutijaFlex2{
	margin-top: 3%;
	margin-left: 15%;
	margin-right:20%;
	margin-bottom: 5%;
	width: 80%;
	border:3px solid purple;
	border-radius: 35px;
	padding: 10px;
	height: 60%;
	display: flex;
	flex-wrap: wrap;
}
.Loja4{
	margin-left:35px ;
	margin-right:35px;
	margin-bottom: 20px;
	border:4px solid black;
	padding: 20px;
	width:40%;
	min-width: 40%;
	max-width: 50%;
}
.Loja5{
	margin-left:35px ;
	margin-right:15px;
	margin-bottom: 20px;
	border:4px solid black;
	padding: 20px;
	width:40%;
}
.Loja6{
	margin-left:35px ;
	margin-right:15px;
	margin-bottom: 20px;
	border:4px solid black;
	padding: 20px;
	width:40%;
}
.Loja7{
	margin-left:55px ;
	margin-right:15px;
	margin-bottom: 20px;
	border:4px solid black;
	padding: 20px;
	width:40%;
}
.Loja8{
	margin-left:35px ;
	margin-right:35px;
	margin-bottom: 20px;
	border:4px solid black;
	padding: 20px;
	width:40%;
}
.Loja9{
	margin-left:35px ;
	margin-right:15px;
	margin-bottom: 20px;
	border:4px solid black;
	padding: 20px;
	width:40%;
}
/*.Loja10{
	margin-left:35px ;
	margin-right:15px;
	border:4px solid black;
	padding: 20px;
}
.Loja11{
	margin-left:35px ;
	margin-right:15px;
	border:4px solid black;
	padding: 20px;
}*/
.KategoriKutit{
	display: flex;
	flex-wrap: wrap;
	border: 3px solid red;
	width: 75.5%;
	margin-left: 15%;
	padding: 20px;
}
.Kategoria1{
	border:2px solid blue;
	margin-left: 90px;
	width: 40%;
	padding: 10px;
}
.Kategoria2{
	border:2px solid blue;
	margin-left:90px;
	width: 40%;
	padding: 10px;
}
.Kategoria3{
	border:2px solid blue;
	margin-left: 90px;
	width: 40%;
	padding: 10px;
}
.Kategoria4{
	border:2px solid blue;
	margin-left:90px;
	width: 40%;
	padding: 10px;
}