
.TekstMid{
	padding: 20px;
	height: 30%;
	font-family: 'Heebo', sans-serif;
	text-align: center;
	font-size: 50px;
}
.curved-div {
  position: relative;
  background: #6a0dad;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.curved-div svg {
  display: block;
}
.curved-div.upper {
  background: #fff;
}
.curved-div h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin-top:0rem;
}
.curved-div p {
  font-size: 1rem;
  margin:0 5rem 0rem 5rem;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}
.NavBar{
  height: 100%; 
  width: 0; /*Ndrryshohet permes JS*/
  position: fixed; 
  z-index: 1; /*Forcon karakteret te rrin mbi content tjeter*/
  top: 0; 
  left: 0;
  background-color: #6a0dad; 
  overflow-x: hidden; /*Ndalon scroll*/
  padding-top: 60px; 
  transition: 0.5s;/* Koha per te bere tranzicionin*/
}
.NavBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #1a001a;
  display: block;
  transition: 0.3s;
}
.NavBar a:hover{
	color: #f1f1f1;
}
.NavBar .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left .5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .NavBar {padding-top: 15px;}
  .NavBar a {font-size: 18px;}
  .Loja_7-412{
	margin-left:25px;
	margin-right:15px;
	margin-bottom: 20px;
	border:4px solid blue;
	padding: 20px;
	width:40%;
}
}
.SideNavOpen{
	margin-left: 0%;
	position: fixed;
}
.ButonSideNav{
  background-color: #6a0dad;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.ContainerContents{
	border:3px solid black;
	display: flex;
}
.KutijaFlex1{
	display: flex;
	flex-wrap: wrap;
	width:80%;
	margin-left: 15%;
}
.Loja1{
	border: 2px solid purple;
	border-radius: 20px;
	background-image: url(C:\Users\HP\Desktop\WEBProjektiReDesignMAIN\Foto\backimg.jpg);

  padding: 2%;
  flex-grow: 1;
  flex-basis: 1%;
  margin-right: 5%;

  display: flex;
  flex-direction: column;
}
.TextP1{
	margin-top: auto;
}
.Foto1P img{
	max-width: 100%;
}
.Loja2{
	border: 2px solid purple;
	border-radius: 20px;

  padding: 2%;
  flex-grow: 1;
  flex-basis: 1%;
  margin-right: 5%;



  display: flex-row;
  flex-direction: column;
}
.TextP2{
	margin-top: auto;
}
.Foto2P img{
	max-width: 100%;
}
.Loja3{
	border: 2px solid purple;
	border-radius: 20px;

  padding: 2%;
  flex-grow: 1;
  flex-basis: 1%;


  display: flex-row;
  flex-direction: column;
}
.TextP3{
	margin-top: auto;
}
.Foto3P img{
	max-width: 100%;
}
.BorderOut{
	display: flex;
	flex-wrap:wrap;
	width: 70%;
	margin-left: 20%;
	margin-top: 1%;
	margin-bottom: 5%;
}
.LojaU1{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;
	flex-grow:1;
	flex-basis: 16%;


	display: flex;
	flex-wrap: wrap
}
.Foto1 img{
	max-width: 100%;
}
.Text1{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text1 a:link{
	text-decoration: none;
}
.Text1 a:hover{
	color: lightgray;
}
.Text1 a{
	color: black;
}
.LojaU2{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto2 img{
	max-width: 100%;
}
.Text2{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text2 a:link{
	text-decoration: none;
}
.Text2 a:hover{
	color: lightgray;
}
.Text2 a{
	color: black;
}
.LojaU3{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto3 img{
	max-width: 100%;
}
.Text3{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text3 a:link{
	text-decoration: none;
}
.Text3 a:hover{
	color: lightgray;
}
.Text3 a{
	color: black;
}
.LojaU4{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto4 img{
	max-width: 100%;
}
.Text4{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text4 a:link{
	text-decoration: none;
}
.Text4 a:hover{
	color: lightgray;
}
.Text4 a{
	color: black;
}
.LojaU5{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto5 img{
	max-width: 100%;
}
.Text5{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text5 a:link{
	text-decoration: none;
}
.Text5 a:hover{
	color: lightgray;
}
.Text5 a{
	color: black;
}
.LojaU6{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto6 img{
	max-width: 100%;
}
.Text6{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text6 a:link{
	text-decoration: none;
}
.Text6 a:hover{
	color: lightgray;
}
.Text6 a{
	color: black;
}
.LojaU7{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto7 img{
	max-width: 100%;
}
.Text7{
	margin-top: auto;
	margin-left:auto;
	margin-bottom: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text7 a:link{
	text-decoration: none;
}
.Text7 a:hover{
	color: lightgray;
}
.Text7 a{
	color: black;
}
.LojaU8{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto8 img{
	max-width: 100%;
}
.Text8{
	margin-top: auto;
	margin-left:auto;
	margin-bottom: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text8 a:link{
	text-decoration: none;
}
.Text8 a:hover{
	color: lightgray;
}
.Text8 a{
	color: black;
}
.KategoriKutit{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-left: 10%;
}
.Kategoria1{
	margin-left: 90px;
	width: 40%;
	padding: 10px;
	background-color:  #702963;
	font-family: 'Vollkorn', serif;
}
.Kategoria2{
	width: 40%;
	padding: 10px;
	margin-left: 90px;
	background-color: #551a8b;
	font-family: 'Vollkorn', serif;
}
.Kategoria3{
	margin-left: 90px;
	width: 40%;
	padding: 10px;
	margin-left: 90px;
	background-color: #bf00ff;
	font-family: 'Vollkorn', serif;
}
.Kategoria4{
	width: 40%;
	padding: 10px;
	margin-left: 90px;
	background-color: #c71585;
	justify-content: center;
	font-family: 'Vollkorn', serif;
}
.TekstPromovues1{
	margin-left: 13%;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
}
.TekstPromovues2{
	margin-left: 13%;
	margin-top: 3%;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
}
.TekstPromovues3{
	margin-top: 3%;
	margin-left:43%;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
}