*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color:  #702963;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	height: 60px;
	min-height: 40%;
}
.logo{
	letter-spacing: 2px;
	color: #fff0f5;
	font-size: 20px;
}
.links{
	display: flex;
	justify-content: space-around;
	width: 35%;
}
.links li{
	list-style:none;
}
.links a{
	color:#fff0f5;
	letter-spacing: 1px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
}
.KategoriBoxCont{
	background-image: url("C:/Users/HP/Desktop/WEBProjektiReDesignMAIN/Foto/backimg2.jpg");
}
.TexShow{
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	font-weight: bold;
}
.KategoriBox{
	display: flex;
	flex-wrap:wrap;
	width: 70%;
	margin-top: 0%;
	margin-left: 17%;
}

.LojaU1{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;
	flex-grow:1;
	flex-basis: 16%;


	display: flex;
	flex-wrap: wrap
}
.Foto1 img{
	max-width: 100%;
}
.Text1{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text1 a:link{
	text-decoration: none;
}
.Text1 a:hover{
	color: lightgray;
}
.Text1 a{
	color: white;
}
.LojaU2{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto2 img{
	max-width: 100%;
}
.Text2{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text2 a:link{
	text-decoration: none;
}
.Text2 a:hover{
	color: lightgray;
}
.Text2 a{
	color: white;
}
.LojaU3{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto3 img{
	max-width: 100%;
}
.Text3{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text3 a:link{
	text-decoration: none;
}
.Text3 a:hover{
	color: lightgray;
}
.Text3 a{
	color: white;
}
.LojaU4{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto4 img{
	max-width: 100%;
}
.Text4{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text4 a:link{
	text-decoration: none;
}
.Text4 a:hover{
	color: lightgray;
}
.Text4 a{
	color: white;
}
.LojaU5{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto5 img{
	max-width: 100%;
}
.Text5{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text5 a:link{
	text-decoration: none;
}
.Text5 a:hover{
	color: lightgray;
}
.Text5 a{
	color: white;
}
.LojaU6{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto6 img{
	max-width: 100%;
}
.Text6{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text6 a:link{
	text-decoration: none;
}
.Text6 a:hover{
	color: lightgray;
}
.Text6 a{
	color: white;
}
.LojaU7{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto7 img{
	max-width: 100%;
}
.Text7{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text7 a:link{
	text-decoration: none;
}
.Text7 a:hover{
	color: lightgray;
}
.Text7 a{
	color: white;
}
.LojaU8{
	padding: 2%;
	border: 2px solid black;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 2%;
	justify-content: center;

	flex-grow:1;
	flex-basis: 16%;

	display: flex;
	flex-wrap: wrap;
}
.Foto8 img{
	max-width: 100%;
}
.Text8{
	margin-top: auto;
	font-family: 'Sarabun', sans-serif;
}
.Text8 a:link{
	text-decoration: none;
}
.Text8 a:hover{
	color: lightgray;
}
.Text8 a{
	color: white;
}
.slider{
	width: 610px;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
}
.slideItems{
	display: flex;
	width: 100%;
	height: 500px;
}
#mbasBtn{
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
#paraBtn{
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
.Btns{
	display: flex;
}
.contSlide{
	width: 100%;
	background-color: black;
}